<div style="border: 1px solid black; padding: 10px 20px; margin: 20px 0px">
	<h2><%= @task.name %></h2>
	<table>
		<thead>
			<tr>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Category:</td>
				<td><%= @category.name %></td>
			</tr>
			<tr>
				<td>Date:</td>
				<td><%= @task.date %></td>
			</tr>
			<tr>
				<td>Details:</td>
				<td><%= @task.details %></td>
			</tr>
		</tbody>
	</table>
</div>
<td><%= link_to 'Edit', edit_category_task_path(@task.category, @task) %></td>
|
<%= link_to 'Back', category_path(@category) %>
<p id="notice"><%= notice %></p>
