<h1>Categories</h1>
<% if @categories.length <= 0 %>
  <div class='box'>
    <img src='/images/lock.svg' class='big-img' />
    <h2>No categories yet.</h2>
  </div>
<% else %>
  <div class='box'> 
    <table>
      <thead>
        <tr>
          <th colspan='5'></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><img src='/images/mail.svg' /></td>
            <td>
              <span class='name marginright'><%= category.name %></span>
            </td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td>
              <%= link_to 'Destroy', category, method: :delete, data: {
                confirm: 'Are you sure? This will delete all tasks under this category.' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
<% end %>
<%= link_to 'New Category', new_category_path, :class => 'redirect' %>
