<div style="border: 1px solid black; padding: 10px 20px; margin: 20px 0px">
	<h2><%= @category.name %> Tasks</h2>
	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @category.tasks.each do |task| %>
				<tr>
					<td><%= task.name %></td>
					<td><%= button_to 'Show', category_task_path(task.category, task), :method => "get" %></td>
					<td><%= button_to 'Destroy', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div style="border: 1px solid black; padding: 10px 20px; margin: 20px 0px">
	<h2>Add a Task</h2>
	<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
		<div class="field">
			<%= form.label :name %>
			<%= form.text_field :name %>
		</div>
		<div class="field">
			<%= form.label :details %>
			<%= form.text_area :details %>
		</div>
		<div class="field">
			<%= form.label :date %>
			<%= form.date_select :date %>
		</div>
		<br>
		<div class="actions">
			<%= form.submit %>
		</div>
	<% end %>
</div>
<%= button_to 'Edit', edit_category_path(@category), :method => "get" %>
<br>
<%= button_to 'Back', categories_path, :method => "get" %>
<p id="notice"><%= notice %></p>
