<h1><%= @category.name %></h1>
<div class="box">
	<h2>Tasks</h2>
	<table>
		<thead>
			<tr>
				<th colspan="4"></th>
			</tr>
		</thead>
		<tbody>
			<% @category.tasks.each do |task| %>
				<tr>
					<td><%= task.date %></td>
					<td><%= task.name %></td>
					<td><%= link_to 'Show', category_task_path(task.category, task) %></td>
					<td><%= link_to 'Destroy', [task.category, task], method: :delete, 
					data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="box">
	<h2>Add a Task</h2>
	<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
		<div class="field">
			<%= form.label :name %>
			<%= form.text_field :name %>
		</div>
		<div class="field">
			<%= form.label :details %>
			<%= form.text_area :details %>
		</div>
		<div class="field">
			<%= form.label :date %>
			<%= form.date_select :date %>
		</div>
		<div class="actions">
			<%= form.submit %>
		</div>
	<% end %>
</div>
<%= link_to 'Edit', edit_category_path(@category), :class => "redirect" %>
<%= link_to 'Back', categories_path, :class => "redirect" %>

